### 1. Business case & Data Collection

1. **Business understanding**: lo primero de todo es identificar la necesidad, el problema de negocio que intentamos resolver.

El primero objetivo con el que iniciamos este EDA fue encontrar las condiciones más favorables para poder afrontar una expedición en el Himalaya. Qué variables podían ser fundamentales.  
Entendíamos que, claramente, el tiempo o la estación del año en los que afrontar un reto de estas dimensiones, eran fundamentales pero, ¿nos olvidábamos de algo? ¿Habría alguna variable que pudiera decidir el éxito o fracaso? O, ¿incluso perder la vida?

2. **Hipótesis**: Tendremos que realizar afirmaciones sobre los datos y comprobar si de verdad se cumple, basándonos en los mismos. Estos dos primeros puntos son fundamentales ya que siempre hay que tener una meta cuando realicemos un EDA. Con la hipótesis tiene que venir un **plan de acción**. Tenemos unos datos, unos posibles resultados...pero si ocurre esto o lo otro, ¿qué hacemos? ¿qué decisiones vamos a tomar?

3. **Requerimientos de los datos**: en este punto habrá que listar los datos necesarios, a alto nivel, para llevar a cabo el análisis: por ejemplo, los datos de ventas de los ultimos 3 años desagregados por tipo de cliente, o datos de bolsa de los ultimos 2 meses de las empresas A, B y C.

4. **Disponibilidad**: primer punto de inflexión en el proyecto. Si no podemos acceder al dato necesario para la analítica, bien porque no existe o bien porque pertenece a alguna organización, no será posible continuar por esa vía y quizá haya que replantear el proyecto y/o acudir a otras fuentes.

5. **Adquisición de datos**: es el momento de ir a por los datos, ya sea en bases de datos de la empresa, datasets públicos, APIs, Web Scrapping, comprando bases de datos o escribiendo a organizaciones para que cedan sus datos.

In [2]:
import pandas as pd

# Diccionario con nombres de variables y rutas
paths = {
    'df_exped': '../data/source/exped.csv',
    'df_data': '../data/source/himalayan_data_dictionary.csv',
    'df_members': '../data/source/members.csv',
    'df_peaks': '../data/source/peaks.csv',
    'df_refer': '../data/source/refer.csv'
}

# Diccionario para almacenar los DataFrames
dataframes = {}

# Cargar los archivos
for name, path in paths.items():
    try:
        df = pd.read_csv(path, encoding='utf-8')
    except UnicodeDecodeError:
        df = pd.read_csv(path, encoding='latin1')
    dataframes[name] = df

# Mostrar info y head de cada DataFrame
for name, df in dataframes.items():
    print(f"\n--- {name} ---")
    print(df.info())
    print(df.head())

C:\Users\MarioSimarroIntelaqu\AppData\Local\Temp\ipykernel_2608\50582730.py:18: DtypeWarning: Columns (8,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, encoding='utf-8')
C:\Users\MarioSimarroIntelaqu\AppData\Local\Temp\ipykernel_2608\50582730.py:18: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, encoding='utf-8')

--- df_exped ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11425 entries, 0 to 11424
Data columns (total 65 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   expid       11425 non-null  object
 1   peakid      11425 non-null  object
 2   year        11425 non-null  int64
 3   season      11425 non-null  object
 4   host        11425 non-null  object
 5   route1      11275 non-null  object
 6   route2      360 non-null    object
 7   route3      30 non-null     object
 8   route4      5 non-null      object
 9   nation      11425 non-null  object
 10  leaders     11401 non-null  object
 11  sponsor     10609 non-null  object
 12  success1    11425 non-null  bool
 13  success2    11425 non-null  bool
 14  success3    11425 non-null  bool
 15  success4    11425 non-null  bool
 16  ascent1     2778 non-null   object
 17  ascent2     101 non-null    object
 18  ascent3     11 non-null     object
 19  ascent4     4 non-null      object
 20  claimed     11425 non-null  bool
 21  disputed    11425 non-null  bool
 22  countries   4113 non-null   object
 23  approach    5436 non-null   object
 24  bcdate      9795 non-null   object
 25  smtdate     10670 non-null  object
 26  smttime     4982 non-null   float64
 27  smtdays     9671 non-null   float64
 28  totdays     8406 non-null   float64
 29  termdate    8450 non-null   object
 30  termreason  11425 non-null  object
 31  termnote    4648 non-null   object
 32  highpoint   11425 non-null  int64
 33  traverse    11425 non-null  bool
 34  ski         11425 non-null  bool
 35  parapente   11425 non-null  bool
 36  camps       11425 non-null  int64
 37  rope        11425 non-null  int64
 38  totmembers  11425 non-null  int64
 39  smtmembers  11425 non-null  int64
 40  mdeaths     11425 non-null  int64
 41  tothired    11425 non-null  int64
 42  smthired    11425 non-null  int64
 43  hdeaths     11425 non-null  int64
 44  nohired     11425 non-null  bool
 45  o2used      11425 non-null  bool
 46  o2none      11425 non-null  bool
 47  o2climb     11425 non-null  bool
 48  o2descent   11425 non-null  bool
 49  o2sleep     11425 non-null  bool
 50  o2medical   11425 non-null  bool
 51  o2taken     11425 non-null  bool
 52  o2unkwn     11425 non-null  bool
 53  othersmts   2199 non-null   object
 54  campsites   11046 non-null  object
 55  accidents   3001 non-null   object
 56  achievment  976 non-null    object
 57  agency      9696 non-null   object
 58  comrte      11425 non-null  bool
 59  stdrte      11425 non-null  bool
 60  primrte     11425 non-null  bool
 61  primmem     11425 non-null  bool
 62  primref     11425 non-null  bool
 63  primid      753 non-null    object
 64  chksum      11425 non-null  int64
dtypes: bool(23), float64(3), int64(11), object(28)
memory usage: 3.9+ MB
None
       expid peakid  year  season   host            route1            route2  \
0  ANN260101   ANN2  1960  Spring  Nepal  NW Ridge-W Ridge               NaN
1  ANN269301   ANN2  1969  Autumn  Nepal  NW Ridge-W Ridge               NaN
2  ANN273101   ANN2  1973  Spring  Nepal    W Ridge-N Face               NaN
3  ANN278301   ANN2  1978  Autumn  Nepal    N Face-W Ridge               NaN
4  ANN279301   ANN2  1979  Autumn  Nepal    N Face-W Ridge  NW Ridge of A-IV

  route3 route4      nation  ...                           accidents  \
0    NaN    NaN          UK  ...                                 NaN
1    NaN    NaN  Yugoslavia  ...  Draslar frostbitten hands and feet
2    NaN    NaN       Japan  ...                                 NaN
3    NaN    NaN          UK  ...                                 NaN
4    NaN    NaN          UK  ...                                 NaN

  achievment  agency  comrte  stdrte  primrte primmem primref primid   chksum
0        NaN     NaN   False   False    False   False   False    NaN  2442047
1        NaN     NaN   False   False    False   False   False    NaN  2445501
2        NaN     NaN   False   False    False   False   False    NaN  2446797
3        NaN     NaN   False   False    False   False   False    NaN  2448822
4        NaN     NaN   False   False    False   False   False    NaN  2449204

[5 rows x 65 columns]

--- df_data ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Table        165 non-null    object
 1   Field        161 non-null    object
 2   Description  161 non-null    object
dtypes: object(3)
memory usage: 4.0+ KB
None
   Table     Field                        Description
0  peaks       NaN                                NaN
1  peaks    peakid              Peak ID (primary key)
2  peaks    pkname  Foreign (common) name of the peak
3  peaks   pkname2             Local name of the peak
4  peaks  location      Location of the climbing area

--- df_members ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89000 entries, 0 to 88999
Data columns (total 61 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   expid       89000 non-null  object
 1   membid      89000 non-null  int64
 2   peakid      89000 non-null  object
 3   myear       89000 non-null  int64
 4   mseason     89000 non-null  object
 5   fname       88897 non-null  object
 6   lname       87876 non-null  object
 7   sex         89000 non-null  object
 8   yob         83592 non-null  float64
 9   citizen     88993 non-null  object
 10  status      89000 non-null  object
 11  residence   80170 non-null  object
 12  occupation  58261 non-null  object
 13  leader      89000 non-null  bool
 14  deputy      89000 non-null  bool
 15  bconly      89000 non-null  bool
 16  nottobc     89000 non-null  bool
 17  support     89000 non-null  bool
 18  disabled    89000 non-null  bool
 19  hired       89000 non-null  bool
 20  sherpa      89000 non-null  bool
 21  tibetan     89000 non-null  bool
 22  msuccess    89000 non-null  bool
 23  mclaimed    89000 non-null  bool
 24  mdisputed   89000 non-null  bool
 25  msolo       89000 non-null  bool
 26  mtraverse   89000 non-null  bool
 27  mski        89000 non-null  bool
 28  mparapente  89000 non-null  bool
 29  mspeed      89000 non-null  bool
 30  mhighpt     89000 non-null  bool
 31  mperhighpt  64054 non-null  float64
 32  msmtdate1   59731 non-null  object
 33  msmtdate2   449 non-null    object
 34  msmtdate3   22 non-null     object
 35  msmttime1   26512 non-null  float64
 36  msmttime2   244 non-null    float64
 37  msmttime3   7 non-null      float64
 38  mroute1     89000 non-null  int64
 39  mroute2     89000 non-null  int64
 40  mroute3     89000 non-null  int64
 41  mascent1    89000 non-null  int64
 42  mascent2    89000 non-null  int64
 43  mascent3    89000 non-null  int64
 44  mo2used     89000 non-null  bool
 45  mo2none     89000 non-null  bool
 46  mo2climb    89000 non-null  bool
 47  mo2descent  89000 non-null  bool
 48  mo2sleep    89000 non-null  bool
 49  mo2medical  89000 non-null  bool
 50  mo2note     15347 non-null  object
 51  death       89000 non-null  bool
 52  deathdate   1132 non-null   object
 53  deathtime   568 non-null    float64
 54  deathtype   1158 non-null   object
 55  deathhgtm   89000 non-null  int64
 56  deathclass  1158 non-null   object
 57  msmtbid     89000 non-null  object
 58  msmtterm    88824 non-null  object
 59  hcn         295 non-null    float64
 60  mchksum     89000 non-null  int64
dtypes: bool(25), float64(7), int64(10), object(19)
memory usage: 26.6+ MB
None
       expid  membid peakid  myear mseason         fname      lname sex  \
0  AMAD01101       2   AMAD   2001  Spring         Rohan    Buckley   M
1  AMAD01101       1   AMAD   2001  Spring  Marc Cameron   Fairhead   M
2  AMAD01101       3   AMAD   2001  Spring          Mark  Schroeder   M
3  AMAD01101       4   AMAD   2001  Spring         Colin      Smith   M
4  AMAD01101       5   AMAD   2001  Spring         Naomi      Smith   F

      yob    citizen  ...  death deathdate deathtime  deathtype  deathhgtm  \
0  1972.0  Australia  ...  False       NaN       NaN        NaN          0
1  1968.0  Australia  ...  False       NaN       NaN        NaN          0
2  1960.0  Australia  ...  False       NaN       NaN        NaN          0
3  1966.0  Australia  ...  False       NaN       NaN        NaN          0
4  1970.0  Australia  ...  False       NaN       NaN        NaN          0

   deathclass               msmtbid  \
0         NaN         No summit bid
1         NaN  Aborted at high camp
2         NaN  Aborted at high camp
3         NaN         No summit bid
4         NaN         No summit bid

                                            msmtterm  hcn  mchksum
0                  Did not climb or intent to summit  NaN  2439554
1  Bad conditions (deep snow, avalanches, falling...  NaN  2438062
2  Bad conditions (deep snow, avalanches, falling...  NaN  2435183
3                  Did not climb or intent to summit  NaN  2437475
4                  Did not climb or intent to summit  NaN  2438996

[5 rows x 61 columns]

--- df_peaks ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   peakid      480 non-null    object
 1   pkname      480 non-null    object
 2   pkname2     257 non-null    object
 3   location    479 non-null    object
 4   heightm     480 non-null    int64
 5   heightf     480 non-null    int64
 6   himal       480 non-null    object
 7   region      480 non-null    object
 8   open        480 non-null    bool
 9   unlisted    480 non-null    bool
 10  trekking    480 non-null    bool
 11  trekyear    29 non-null     float64
 12  restrict    275 non-null    object
 13  phost       480 non-null    object
 14  pstatus     480 non-null    object
 15  pyear       362 non-null    float64
 16  pseason     363 non-null    object
 17  pmonth      357 non-null    object
 18  pday        340 non-null    float64
 19  pexpid      360 non-null    object
 20  pcountry    362 non-null    object
 21  psummiters  477 non-null    object
 22  psmtnote    76 non-null     object
dtypes: bool(3), float64(3), int64(2), object(15)
memory usage: 76.5+ KB
None
  peakid         pkname         pkname2  \
0   ACHN         Aichyn  Aychin, Ashvin
1   AMAD     Ama Dablam    Amai Dablang
2   AMOT       Amotsang         Amatson
3   AMPG  Amphu Gyabjen   Amphu Gyabien
4   AMPH        Amphu I             NaN

                                          location  heightm  heightf  \
0                Chandi Himal (SW of Changwathang)     6055    19865
1                                     Khumbu Himal     6814    22356
2                  Damodar Himal (NW of Pokharhan)     6393    20974
3                   Khumbu Himal (N of Ama Dablam)     5630    18471
4  Khumbu Himal (E of Amphu Laptsa, W of Baruntse)     6740    22113

                       himal                   region  open  unlisted  ...  \
0  Nalakankar/Chandi/Changla       Kanjiroba-Far West  True     False  ...
1                     Khumbu  Khumbu-Rolwaling-Makalu  True     False  ...
2                    Damodar   Annapurna-Damodar-Peri  True     False  ...
3                     Khumbu  Khumbu-Rolwaling-Makalu  True     False  ...
4                     Khumbu  Khumbu-Rolwaling-Makalu  True     False  ...

        phost  pstatus   pyear pseason pmonth  pday     pexpid  \
0  Nepal only  Climbed  2015.0  Autumn    Sep   3.0  ACHN15301
1  Nepal only  Climbed  1961.0  Spring    Mar  13.0  AMAD61101
2  Nepal only  Climbed  2019.0  Autumn    Oct  24.0  AMOT19301
3  Nepal only  Climbed  1953.0  Spring    Apr  11.0  AMPG53101
4  Nepal only  Climbed  2013.0  Autumn    Oct   9.0  AMPH13301

               pcountry                                         psummiters  \
0                 Japan                                Hiroki Senda, et al
1  New Zealand, USA, UK  Mike Gill, Wally Romanes, Barry Bishop, Michae...
2               Germany                                       Jost Kobusch
3                    UK                          John Hunt, Tom Bourdillon
4               S Korea          An Chi-Young, Kim Young-Mi, Oh Young-Hoon

                   psmtnote
0                       NaN
1                       NaN
2  Possibly climbed earlier
3                       NaN
4                       NaN

[5 rows x 23 columns]

--- df_refer ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15586 entries, 0 to 15585
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   expid       15586 non-null  object
 1   refid       15586 non-null  int64
 2   ryear       15586 non-null  int64
 3   rtype       15583 non-null  object
 4   rjrnl       7218 non-null   object
 5   rauthor     5283 non-null   object
 6   rtitle      10065 non-null  object
 7   rpublisher  1130 non-null   object
 8   rpubdate    8306 non-null   float64
 9   rlanguage   2352 non-null   object
 10  rcitation   7234 non-null   object
 11  ryak94      631 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 1.4+ MB
None
       expid  refid  ryear    rtype                    rjrnl  \
0  KANG84101      1   1984  Journal  American Alpine Journal
1  KANG84102      1   1984  Journal  American Alpine Journal
2  KANG84301      1   1984  Journal  American Alpine Journal
3  KANG84401      1   1984     Book                      NaN
4  YALU84302      1   1984  Journal  American Alpine Journal

               rauthor              rtitle rpublisher  rpubdate rlanguage  \
0   Matsuzawa, Tetsuro                 NaN        NaN    1985.0       NaN
1           Ball, Gary                 NaN        NaN    1985.0       NaN
2      Marshall, Roger                 NaN        NaN    1985.0       NaN
3  Bremer-Kamp, Cherie  Living on the Edge        NaN    1987.0       NaN
4      Muller, Bernard                 NaN        NaN    1985.0       NaN

           rcitation ryak94
0  59:247-249 (1985)    NaN
1  59:249-250 (1985)    NaN
2      59:250 (1985)    NaN
3                NaN   B558
4      59:251 (1985)    NaN

6. **Calidad**: segundo punto de inflexión en el proyecto. Es fundamental que los datos sean válidos para el análisis, suficientes, que no tengan excesivos missings, ni estén manipulados.

In [ ]:
for key in dataframes.keys():
    print(f"Para el Dataframe {key} tenemos: {dataframes[key].size} potenciales registros.")

Para el Dataframe df_exped tenemos: 742625 potenciales registros.
Para el Dataframe df_data tenemos: 495 potenciales registros.
Para el Dataframe df_members tenemos: 5429000 potenciales registros.
Para el Dataframe df_peaks tenemos: 11040 potenciales registros.
Para el Dataframe df_refer tenemos: 187032 potenciales registros.

7. **Revisión de hipótesis**: una vez tenemos todos los datos recolectados, quizá tengamos que replantear la hipótesis al darnos cuenta de que tenemos otros datos u otras variables con las que no contábamos. Si tenemos menos variables que las iniciales, también habrá que replantearse el objetivo del proyecto.

A priori vamos a qudarnos con los datos de las siguientes tablas:
1. exped.csv
2. members.csv
3. peaks.csv