### 2. Data Understanding

In [1]:
# Importamos las librerías necesarias
import pandas as pd

In [2]:
# Cargamos y guardamos cada tabla en un DataFrame independiente

paths = {
    'df_exped': '../data/source/exped.csv',
    'df_data': '../data/source/himalayan_data_dictionary.csv',
    'df_members': '../data/source/members.csv',
    'df_peaks': '../data/source/peaks.csv',
    'df_refer': '../data/source/refer.csv'
}

for name, path in paths.items():
    try:
        df = pd.read_csv(path, encoding='utf-8', low_memory=False)
    except UnicodeDecodeError:
        df = pd.read_csv(path, encoding='latin1', low_memory=False)
    globals()[name] = df

8. **Exploratorio inicial**: en este momento realizaremos un primer análisis de las variables que tenemos en el dataset, obteniendo la información básica: cantidad de tablas, número de columnas, de filas, naturaleza de las variables, tipos de los datos, primeros registros y proporción de missings.

In [3]:
# Exploración de df_exped
df_exped.info()
df_exped.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11425 entries, 0 to 11424
Data columns (total 65 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   expid       11425 non-null  object
 1   peakid      11425 non-null  object
 2   year        11425 non-null  int64
 3   season      11425 non-null  object
 4   host        11425 non-null  object
 5   route1      11275 non-null  object
 6   route2      360 non-null    object
 7   route3      30 non-null     object
 8   route4      5 non-null      object
 9   nation      11425 non-null  object
 10  leaders     11401 non-null  object
 11  sponsor     10609 non-null  object
 12  success1    11425 non-null  bool
 13  success2    11425 non-null  bool
 14  success3    11425 non-null  bool
 15  success4    11425 non-null  bool
 16  ascent1     2778 non-null   object
 17  ascent2     101 non-null    object
 18  ascent3     11 non-null     object
 19  ascent4     4 non-null      object
 20  claimed     11425 non-null  bool
 21  disputed    11425 non-null  bool
 22  countries   4113 non-null   object
 23  approach    5436 non-null   object
 24  bcdate      9795 non-null   object
 25  smtdate     10670 non-null  object
 26  smttime     4982 non-null   float64
 27  smtdays     9671 non-null   float64
 28  totdays     8406 non-null   float64
 29  termdate    8450 non-null   object
 30  termreason  11425 non-null  object
 31  termnote    4648 non-null   object
 32  highpoint   11425 non-null  int64
 33  traverse    11425 non-null  bool
 34  ski         11425 non-null  bool
 35  parapente   11425 non-null  bool
 36  camps       11425 non-null  int64
 37  rope        11425 non-null  int64
 38  totmembers  11425 non-null  int64
 39  smtmembers  11425 non-null  int64
 40  mdeaths     11425 non-null  int64
 41  tothired    11425 non-null  int64
 42  smthired    11425 non-null  int64
 43  hdeaths     11425 non-null  int64
 44  nohired     11425 non-null  bool
 45  o2used      11425 non-null  bool
 46  o2none      11425 non-null  bool
 47  o2climb     11425 non-null  bool
 48  o2descent   11425 non-null  bool
 49  o2sleep     11425 non-null  bool
 50  o2medical   11425 non-null  bool
 51  o2taken     11425 non-null  bool
 52  o2unkwn     11425 non-null  bool
 53  othersmts   2199 non-null   object
 54  campsites   11046 non-null  object
 55  accidents   3001 non-null   object
 56  achievment  976 non-null    object
 57  agency      9696 non-null   object
 58  comrte      11425 non-null  bool
 59  stdrte      11425 non-null  bool
 60  primrte     11425 non-null  bool
 61  primmem     11425 non-null  bool
 62  primref     11425 non-null  bool
 63  primid      753 non-null    object
 64  chksum      11425 non-null  int64
dtypes: bool(23), float64(3), int64(11), object(28)
memory usage: 3.9+ MB

,expid,peakid,year,season,host,route1,route2,route3,route4,nation,...,accidents,achievment,agency,comrte,stdrte,primrte,primmem,primref,primid,chksum
0,ANN260101,ANN2,1960,Spring,Nepal,NW Ridge-W Ridge,NaN,NaN,NaN,UK,...,NaN,NaN,NaN,False,False,False,False,False,NaN,2442047
1,ANN269301,ANN2,1969,Autumn,Nepal,NW Ridge-W Ridge,NaN,NaN,NaN,Yugoslavia,...,Draslar frostbitten hands and feet,NaN,NaN,False,False,False,False,False,NaN,2445501
2,ANN273101,ANN2,1973,Spring,Nepal,W Ridge-N Face,NaN,NaN,NaN,Japan,...,NaN,NaN,NaN,False,False,False,False,False,NaN,2446797
3,ANN278301,ANN2,1978,Autumn,Nepal,N Face-W Ridge,NaN,NaN,NaN,UK,...,NaN,NaN,NaN,False,False,False,False,False,NaN,2448822
4,ANN279301,ANN2,1979,Autumn,Nepal,N Face-W Ridge,NW Ridge of A-IV,NaN,NaN,UK,...,NaN,NaN,NaN,False,False,False,False,False,NaN,2449204

In [4]:
# Exploración de df_members
df_members.info()
df_members.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89000 entries, 0 to 88999
Data columns (total 61 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   expid       89000 non-null  object
 1   membid      89000 non-null  int64
 2   peakid      89000 non-null  object
 3   myear       89000 non-null  int64
 4   mseason     89000 non-null  object
 5   fname       88897 non-null  object
 6   lname       87876 non-null  object
 7   sex         89000 non-null  object
 8   yob         83592 non-null  float64
 9   citizen     88993 non-null  object
 10  status      89000 non-null  object
 11  residence   80170 non-null  object
 12  occupation  58261 non-null  object
 13  leader      89000 non-null  bool
 14  deputy      89000 non-null  bool
 15  bconly      89000 non-null  bool
 16  nottobc     89000 non-null  bool
 17  support     89000 non-null  bool
 18  disabled    89000 non-null  bool
 19  hired       89000 non-null  bool
 20  sherpa      89000 non-null  bool
 21  tibetan     89000 non-null  bool
 22  msuccess    89000 non-null  bool
 23  mclaimed    89000 non-null  bool
 24  mdisputed   89000 non-null  bool
 25  msolo       89000 non-null  bool
 26  mtraverse   89000 non-null  bool
 27  mski        89000 non-null  bool
 28  mparapente  89000 non-null  bool
 29  mspeed      89000 non-null  bool
 30  mhighpt     89000 non-null  bool
 31  mperhighpt  64054 non-null  float64
 32  msmtdate1   59731 non-null  object
 33  msmtdate2   449 non-null    object
 34  msmtdate3   22 non-null     object
 35  msmttime1   26512 non-null  float64
 36  msmttime2   244 non-null    float64
 37  msmttime3   7 non-null      float64
 38  mroute1     89000 non-null  int64
 39  mroute2     89000 non-null  int64
 40  mroute3     89000 non-null  int64
 41  mascent1    89000 non-null  int64
 42  mascent2    89000 non-null  int64
 43  mascent3    89000 non-null  int64
 44  mo2used     89000 non-null  bool
 45  mo2none     89000 non-null  bool
 46  mo2climb    89000 non-null  bool
 47  mo2descent  89000 non-null  bool
 48  mo2sleep    89000 non-null  bool
 49  mo2medical  89000 non-null  bool
 50  mo2note     15347 non-null  object
 51  death       89000 non-null  bool
 52  deathdate   1132 non-null   object
 53  deathtime   568 non-null    float64
 54  deathtype   1158 non-null   object
 55  deathhgtm   89000 non-null  int64
 56  deathclass  1158 non-null   object
 57  msmtbid     89000 non-null  object
 58  msmtterm    88824 non-null  object
 59  hcn         295 non-null    float64
 60  mchksum     89000 non-null  int64
dtypes: bool(25), float64(7), int64(10), object(19)
memory usage: 26.6+ MB

,expid,membid,peakid,myear,mseason,fname,lname,sex,yob,citizen,...,death,deathdate,deathtime,deathtype,deathhgtm,deathclass,msmtbid,msmtterm,hcn,mchksum
0,AMAD01101,2,AMAD,2001,Spring,Rohan,Buckley,M,1972.0,Australia,...,False,NaN,NaN,NaN,0,NaN,No summit bid,Did not climb or intent to summit,NaN,2439554
1,AMAD01101,1,AMAD,2001,Spring,Marc Cameron,Fairhead,M,1968.0,Australia,...,False,NaN,NaN,NaN,0,NaN,Aborted at high camp,"Bad conditions (deep snow, avalanches, falling...",NaN,2438062
2,AMAD01101,3,AMAD,2001,Spring,Mark,Schroeder,M,1960.0,Australia,...,False,NaN,NaN,NaN,0,NaN,Aborted at high camp,"Bad conditions (deep snow, avalanches, falling...",NaN,2435183
3,AMAD01101,4,AMAD,2001,Spring,Colin,Smith,M,1966.0,Australia,...,False,NaN,NaN,NaN,0,NaN,No summit bid,Did not climb or intent to summit,NaN,2437475
4,AMAD01101,5,AMAD,2001,Spring,Naomi,Smith,F,1970.0,Australia,...,False,NaN,NaN,NaN,0,NaN,No summit bid,Did not climb or intent to summit,NaN,2438996

In [5]:
# Exploración de df_peaks
df_peaks.info()
df_peaks.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   peakid      480 non-null    object
 1   pkname      480 non-null    object
 2   pkname2     257 non-null    object
 3   location    479 non-null    object
 4   heightm     480 non-null    int64
 5   heightf     480 non-null    int64
 6   himal       480 non-null    object
 7   region      480 non-null    object
 8   open        480 non-null    bool
 9   unlisted    480 non-null    bool
 10  trekking    480 non-null    bool
 11  trekyear    29 non-null     float64
 12  restrict    275 non-null    object
 13  phost       480 non-null    object
 14  pstatus     480 non-null    object
 15  pyear       362 non-null    float64
 16  pseason     363 non-null    object
 17  pmonth      357 non-null    object
 18  pday        340 non-null    float64
 19  pexpid      360 non-null    object
 20  pcountry    362 non-null    object
 21  psummiters  477 non-null    object
 22  psmtnote    76 non-null     object
dtypes: bool(3), float64(3), int64(2), object(15)
memory usage: 76.5+ KB

,peakid,pkname,pkname2,location,heightm,heightf,himal,region,open,unlisted,...,phost,pstatus,pyear,pseason,pmonth,pday,pexpid,pcountry,psummiters,psmtnote
0,ACHN,Aichyn,"Aychin, Ashvin",Chandi Himal (SW of Changwathang),6055,19865,Nalakankar/Chandi/Changla,Kanjiroba-Far West,True,False,...,Nepal only,Climbed,2015.0,Autumn,Sep,3.0,ACHN15301,Japan,"Hiroki Senda, et al",NaN
1,AMAD,Ama Dablam,Amai Dablang,Khumbu Himal,6814,22356,Khumbu,Khumbu-Rolwaling-Makalu,True,False,...,Nepal only,Climbed,1961.0,Spring,Mar,13.0,AMAD61101,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",NaN
2,AMOT,Amotsang,Amatson,Damodar Himal (NW of Pokharhan),6393,20974,Damodar,Annapurna-Damodar-Peri,True,False,...,Nepal only,Climbed,2019.0,Autumn,Oct,24.0,AMOT19301,Germany,Jost Kobusch,Possibly climbed earlier
3,AMPG,Amphu Gyabjen,Amphu Gyabien,Khumbu Himal (N of Ama Dablam),5630,18471,Khumbu,Khumbu-Rolwaling-Makalu,True,False,...,Nepal only,Climbed,1953.0,Spring,Apr,11.0,AMPG53101,UK,"John Hunt, Tom Bourdillon",NaN
4,AMPH,Amphu I,NaN,"Khumbu Himal (E of Amphu Laptsa, W of Baruntse)",6740,22113,Khumbu,Khumbu-Rolwaling-Makalu,True,False,...,Nepal only,Climbed,2013.0,Autumn,Oct,9.0,AMPH13301,S Korea,"An Chi-Young, Kim Young-Mi, Oh Young-Hoon",NaN

9. **Tabla de variables**: no está de más tener inventariadas todas las variables que vayas a usar, la naturaleza de las mismas, el tipo de dato y lo que piensas que va a aportar al análisis. Esto puede ser una hoja de cálculo perfectamente.

**Comentarios del alumno**
Hacemos una primera exploración y nos permitimos en 'Notas' segmentar nuevamente los datos para poder encontrar relaciones entre las distintas tablas

*df_exped*

| Columna/variable | Descripción | Tipo de Variable | Importancia inicial | Notas |
|---|---|---|---|---|
| accidents | Descripción de accidentes |---|---| Riesgos e Incidentes |
| achievment | Logros destacados |---|---| Resultados y logros |
| agency | Agencia comercial |---|---| Actvidad y Logística |
| approach | Ruta de aproximación al pico |---|---| Actvidad y Logística |
| ascent1 | Número de ascensos en la primera ruta |---|---| Actvidad y Logística |
| ascent2 | Número de ascensos en la segunda ruta |---|---| Actvidad y Logística |
| ascent3 | Número de ascensos en la tercera ruta |---|---| Actvidad y Logística |
| ascent4 | Número de ascensos en la cuarta ruta |---|---| Actvidad y Logística |
| bcdate | Fecha de llegada al campamento base |---|---| Actvidad y Logística |
| camps | Número de campamentos |---|---| Actvidad y Logística |
| campsites | Ubicación de campamentos |---|---| Actvidad y Logística |
| chksum | Suma de verificación |---|---| --- |
| claimed | ¿Se reclamó el ascenso sin evidencia? |---|---| Resultados y logros |
| comrte | ¿Ruta comercial? |---|---| Actvidad y Logística |
| countries | Otros países representados por los miembros |---|---| Actividad y Logística |
| disputed | ¿Fue disputado o no verificado? |---|---| Resultados y logros |
| expid | Identificador único de la expedición |---|---| Infromación general |
| hdeaths | Muertes de contratados |---|---| Riesgos e Incidentes |
| highpoint | Altura máxima alcanzada |---|---| Resultados y logros |
| host | País desde el cual comenzó el ascenso |---|---| Información general |
| leaders | Líderes de la expedición |---|---| Actividad y Logística |
| mdeaths | Muertes de miembros |---|---| Actvidad y Logística, Riesgos e Incidentes |
| nation | Nacionalidad principal de la expedición |---|---| Información general |
| nohired | No se contrató personal |---|---| Actividad y Logística |
| o2climb | ¿Se usó oxígeno durante el ascenso? |---|---| Resultados y logros, Actvidad y Logística |
| o2descent | ¿Durante el descenso? |---|---| Resultados y logros |
| o2medical | ¿Por razones médicas? |---|---| Resultados y logros |
| o2none | ¿No se usó oxígeno? |---|---| Resultados y logros |
| o2sleep | ¿Durante el sueño? |---|---| Resultados y logros |
| o2taken | ¿Se llevó oxígeno pero no se usó? |---|---| Resultados y logros, Actividad y Logística |
| o2unkwn | ¿Se desconoce si se usó? |---|---| Resultados y logros |
| o2used | ¿Se usó oxígeno? |---|---| Resultados y logros, Actvidad y Logística |
| othersmts | Otros picos alcanzados |---|---| Resultados y logros |
| parapente | Descenso en parapente |---|---| Actividad y Logística |
| peakid | Identificador del pico (relacionado con peak_name) |---|---| Información general, Actividad y Logística |
| primid | ID principal de la expedición |---|---| Información general |
| primmem | ¿Miembro principal? |---|---| Actividad y Logística |
| primref | ¿Referencia principal? |---|---| Actividad y Logística |
| primrte | ¿Ruta principal? |---|---| Actividad y Logística |
| rope | Longitud de cuerda fija usada |---|---| Actividad y Logística |
| route1 | Nombre de la primera ruta utilizada |---|---| Actividad y Logística |
| route2 | Nombre de la segunda ruta utilizada |---|---| Actividad y Logística |
| route3 | Nombre de la tercera ruta utilizada |---|---| Actividad y Logística |
| route4 | Nombre de la cuarta ruta utilizada |---|---| Actividad y Logística |
| season | Temporada (por ejemplo, primavera, otoño) |---|---| Actividad y Logística, Información general |
| ski | Descenso esquiando |---|---| Actividad y Logística |
| smtdays | Día de cumbre relativo al inicio |---|---| Actividad y Logística |
| smtdate | Fecha de cumbre |---|---| Actividad y Logística |
| smthired | Contratados que llegaron a la cumbre |---|---| Actividad y Logística |
| smtmembers | Miembros que llegaron a la cumbre |---|---| Actividad y Logística |
| smttime | Hora de cumbre |---|---| Actividad y Logística |
| sponsor | Patrocinador |---|---| Actividad y Logística |
| stdrte | ¿Ruta estándar? |---|---| Actividad y Logística |
| success1 | Indicador de éxito en la primera ruta |---|---| Actividad y Logística |
| success2 | Indicador de éxito en la segunda ruta |---|---| Actividad y Logística |
| success3 | Indicador de éxito en la tercera ruta |---|---| Actividad y Logística |
| success4 | Indicador de éxito en la cuarta ruta |---|---| Actividad y Logística |
| termdate | Fecha de salida del campamento base o fin de expedición |---|---| Actividad y Logística |
| termnote | Detalles adicionales sobre la finalización |---|---| Actividad y Logística |
| termreason | Resultado o motivo de finalización |---|---| Actividad y Logística |
| totdays | Días totales de la expedición |---|---| Actividad y Logística, Información general |
| totmembers | Total de miembros |---|---| Actividad y Logística |
| tothired | Personas contratadas |---|---| Actividad y Logística |
| traverse | Travesía |---|---| Actividad y Logística |
| year | Año de la expedición |---|---| Información general |

*df_members*

| Columna/variable | Descripción | Tipo de Variable | Importancia inicial | Notas |
|------------------|-------------|------------------|----------------------|-------|
| bconly           | Sólo acamparon en el campamento base | --- | --- | Actividad y Logística |
| citizen          | Ciudadanía del miembro | --- | --- | INformación general |
| death            | Fallecido | --- | --- | Riesgos e Incidentes |
| deathclass       | Clasificación del fallecimiento | --- | --- | Riesgos e Incidentes |
| deathdate        | Fecha del fallecimiento | --- | --- | Riesgos e Incidentes |
| deathhgtm        | Altura a la que falleció | --- | --- | Riesgos e Incidentes |
| deathtime        | Hora del fallecimiento | --- | --- | Riesgos e Incidentes |
| deathtype        | Tipo de fallecimiento | --- | --- | Riesgos e Incidentes |
| deputy           | Sustituto | --- | --- | Actividad y Logística |
| disabled         | Discapacitado | --- | --- | Riesgos e Incidentes |
| expid            | Identificador de la expedición | --- | --- | Información general |
| fname            | Nombre | --- | --- | Información general |
| hcn              | Número de identificación de la cumbre | --- | --- | Información general |
| hired            | Contratado | --- | --- | Riesgos e Incidentes |
| leader           | Líder de la expedición | --- | --- | Actividad y Logística |
| lname            | Apellido | --- | --- | Información general |
| mascent1–3       | Ascensos realizados | --- | --- | Resultados y logros |
| mclaimed         | Ascensión reclamada | --- | --- | Resultados y logros |
| mdisputed        | Ascensión cuestionada | --- | --- | Información general |
| membid           | Identificador único del miembro | --- | --- | Información general |
| mhighpt          | Punto más alto alcanzado | --- | --- | Resultados y logros, Actividad y Logística |
| mo2climb–mo2note | Uso de oxígeno y notas | --- | --- | Resultados y logros |
| mparapente       | Descenso en parapente | --- | --- | Actividad y Logística |
| mperhighpt       | Porcentaje del punto más alto alcanzado | --- | --- | Resultados y logros |
| mroute1–3        | Rutas utilizadas | --- | --- | Actividad y Logística |
| mseason          | Temporada de la expedición | --- | --- | Actividad y Logística |
| mski             | Descenso esquiando | --- | --- | Resultados y logros |
| msmtbid          | Identificador de cumbre | --- | --- | Información general |
| msmtdate1–3      | Fechas de cumbre | --- | --- | Actividad y Logística |
| msmtterm         | Resumen expedición | --- | --- | Resultados y logros |
| msmttime1–3      | Horas de cumbre | --- | --- | Actividad y Logística |
| msolo            | Ascenso en solitario | --- | --- | Resultados y logros |
| mspeed           | Velocidad de ascenso | --- | --- | Resultados y logros |
| msuccess         | Ascensión exitosa | --- | --- | Resultados y logros |
| mtraverse        | Travesía realizada | --- | --- | Actividad y Logística |
| myear            | Año de la expedición | --- | --- | Información general |
| nottobc          | No llegó al campamento base | --- | --- | Resultados y logros |
| occupation       | Profesión | --- | --- | Información general  |
| peakid           | Identificador del pico | --- | --- | IInformación general |
| residence        | Residencia | --- | --- | Información general |
| sex              | Sexo | --- | --- | Información general |
| sherpa           | ¿Es sherpa? | --- | --- | Información general, Actividad y Logística |
| status           | Estado civil | --- | --- | Información general |
| support          | ¿Es miembro de apoyo? | --- | --- | Información general |
| tibetan          | ¿Es tibetano? | --- | --- | Información general, Actividad y Logística |
| yob              | Año de nacimiento | --- | --- | Información general |

*df_peaks*

| Columna/variable | Descripción | Tipo de Variable | Importancia inicial | Notas |
|------------------|-------------|------------------|----------------------|-------|
| heightf          | Altura del pico en pies | --- | --- | Información general |
| heightm          | Altura del pico en metros | --- | --- | Información general |
| himal            | Indica si el pico pertenece al Himalaya | --- | --- | Información general |
| location         | Ubicación geográfica del pico | --- | --- | Información general |
| phost            | País anfitrión del pico | --- | --- | Información general, Actividad y Logística |
| region           | Región geográfica donde se encuentra el pico | --- | --- | Información general, Actividad y Logística |
| pkname           | Nombre principal del pico | --- | --- | Información general |
| pkname2          | Nombre alternativo del pico | --- | --- | Información general |
| peakid           | Identificador único del pico | --- | --- | Información general |
| pexpid           | Identificador de la expedición del primer ascenso | --- | --- | Información general |
| pyear            | Año del primer ascenso registrado | --- | --- | Información general |
| pseason          | Temporada del primer ascenso registrado | --- | --- | Información general |
| pmonth           | Mes del primer ascenso registrado | --- | --- | Información general |
| pday             | Día del primer ascenso registrado | --- | --- | Información general |
| trekyear         | Año en que se permitió el trekking | --- | --- | Información general |
| psummiters       | Nombre(s) de los primeros en alcanzar la cumbre | --- | --- | Resultados y Logros, Información general |
| psmtnote         | Notas adicionales sobre el primer ascenso | --- | --- | Información general |
| pcountry         | País de origen de la expedición de primer ascenso | --- | --- | Información general |
| open             | Indica si el pico está abierto al público | --- | --- | Actividad y Logística |
| pstatus          | Estado del pico (por ejemplo, abierto, cerrado) | --- | --- | Actividad y Logística, Información general |
| restrict         | Restricciones de acceso al pico | --- | --- | Actividad y Logística, Información general |
| trekking         | Indica si el pico es accesible mediante trekking | --- | --- | Actividad y Logística |
| unlisted         | Indica si el pico no está listado oficialmente | --- | --- | Información general |